* {
  box-sizing: border-box;
}
.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.spinner {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.spinner-text {
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  animation: blinking 2s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: relative;
  transition-timing-function: linear;
  border: 4px solid lightgrey;
  border-top: 4px solid black;
  animation: blinking 2s;
  transform: rotate(30deg);
  margin-bottom: 8px;
}
