* {
  box-sizing: border-box;
}
.spinner{
  display: flex;
margin-top: 50vh;
margin-left: 50vh;
}
.spinner-text {
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  animation: blinking 2s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.circle {
  width: 50px;
  height: 50px;
  border: 4px solid lightgrey;
  border-top: 4px solid black;
  border-radius: 50px;
  animation: blinking 2s;
  transition-timing-function: linear;
  transform: rotate(30deg);
margin-bottom: 8px;
  left: -10px;
}
